.card-form {
    z-index: 1;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    width: 500px;
    height: 400px;
}
