.card {
    width: 200px;
    height: 280px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;

    .card-header {
        flex: 10%;
        border: 1px solid black;
    }
    .profile {
        flex: 40%;
        border: 1px solid black;
    }
    .body {
        flex: 50%;
        border: 1px solid black;
    }
}
